/TheBlogProject/TheBlogProject/nbproject/
/TheBlogProject/TheBlogProject/target/
/JavaBasics/ForLoops/SpringForwardFallBack/target/
/ClassesAndObjects/StateCapitals1/target/
/ClassesAndObjects/StateCapitals2/target/
/ClassRoster/ClassRoster/target/
