/TheBlogProject/TheBlogProject/nbproject/
/TheBlogProject/TheBlogProject/target/
/JavaBasics/ForLoops/SpringForwardFallBack/target/
/ClassesAndObjects/StateCapitals1/target/
/ClassesAndObjects/StateCapitals2/target/
/ClassRoster/ClassRoster/target/
/MileStone2-Assignment/DvdLibrary/DvdLibrary/target/
/ClassRoster/ClassRoster/nbproject/
/MileStone2-Assignment/DvdLibrary/DvdLibrary/nbproject/
