/TheBlogProject/TheBlogProject/nbproject/
/TheBlogProject/TheBlogProject/target/
/JavaBasics/ForLoops/SpringForwardFallBack/target/
/ClassesAndObjects/StateCapitals1/target/
/ClassesAndObjects/StateCapitals2/target/
/ClassRoster/ClassRoster/target/
/MileStone2-Assignment/DvdLibrary/DvdLibrary/target/
/ClassRoster/ClassRoster/nbproject/
/MileStone2-Assignment/DvdLibrary/DvdLibrary/nbproject/
/MileStone3-Assignment/VendingMachine/target/
/AdvancedJava/FlooringMastery/target/
/MileStone3-Assignment/VendingMachine/nbproject/
/AdvancedJava/Fizzbuzz/nbproject/private/
/MileStone3-Assignment/VendingMachine Spring MVC/VendingMachineSpring/nbproject/
/ContactListSpring MVC/ContactListSpringMVC/nbproject/
/Superhero Sightings/SuperheroSightings/target/
/Email Application/EmailApplication/target/
/JavaScript Projects/Tip Calculator/TIpCalculator/nbproject/private/
